.feinman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  margin: 0;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: black;
  text-decoration: none;
}

.feinman__link:hover {
  text-shadow: 0 0 2px;
}
