@import url(../__heading/table__heading.css);
@import url(../__text/table__text.css);

.table__cell {
  max-width: 250px;
  margin-top: 60px;
  margin-right: 0;
}

.table__cell :nth-child(3) {
  margin-top: 20px;
}
